html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex-grow: 1;
}

.mapboxgl-ctrl-top-right {
  left: 15px;
  right: 15px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  float: none;
}

.marker {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #6366F1;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  from {
    box-shadow:
            0 0 0 10px rgba(68, 177, 244, 0.4),
            0 0 0 15px hsla(0, 0%, 90%);
  }
  to {
    box-shadow:
            0 0 0 20px rgba(68, 177, 244, 0.4),
            0 0 0 15px hsla(0, 0%, 90%);
  }
}
