html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex-grow: 1;
}

.mapboxgl-ctrl-top-right {
  left: 15px;
  right: 15px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  float: none;
}